.topbar-menu {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 3px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    position: fixed;
    overflow: visible;
    top: 10px;
    left: 5%;
    width: 90%;
    z-index: 1;
}

    .topbar-menu img.logo {
        height: 40px;
        width: auto;
    }

        .topbar-menu img.logo:hover {
            transform: scale(1.1);
        }

    .topbar-menu .rz-menu {
        background-color: inherit;
    }

    .topbar-menu .rz-navigation-item {
        border-left: 1px solid #ddd;
    }

    .topbar-menu .rz-navigation-item-icon {
        color: black !important;
    }

    .topbar-menu .rz-navigation-item-text {
        color: black;
    }

.rz-navigation-menu {
    background-color: #f9f9f9 !important;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1) !important;
    border-radius: 0 0 5px 5px !important;
    border-bottom: 1px solid #ddd !important;
}

    .rz-navigation-item-icon-children {
        color: black !important;
    }

.topbar-menu .rz-menu .rz-link {
    display: flex;
    align-items: center;
    padding: 0 26px;
    background-color: #f9f9f9;
    height: 48px;
}

.rz-menu .rz-navigation-item-wrapper {
    border-radius: 5px !important;
    padding-top: 2px;
    padding-bottom: 2px;
}

    .rz-menu .rz-navigation-item-wrapper:hover {
        background-color: #f0f0f0 !important;
    }

.topbar-menu .rz-menu .rz-navigation-item:last-child {
    margin-left: auto;
    border-left: none;
}
