#main-container {
    background: #fff5f5FF;
}

#header-text {
    margin: 48px auto auto 48px;
    padding-top: 24px;
    text-align: center;
}

#resource-details-container {
    display: flex;
    justify-content: center;
}

#add-button {
    padding-right: 20%;
    padding-bottom: 20px;
    padding-left: 70%;
}
