@page "/admin/managecamp"
@using Application.ApplicationDto.Query
@inject IBookingCheckInQuery _checkInQuery

<div id="main-container">
	<h1 id="header-text">Administrer campingplads</h1>
	<h3 id="current-date">@currentDate</h3>

	<div id="buttons">
	<RadzenToggleButton Text="Check-ind" @bind-Value=@checkInActive ButtonStyle="ButtonStyle.Light" ToggleButtonStyle="ButtonStyle.Primary" />
	<RadzenToggleButton Text="Check-ud" @bind-Value=@checkOutActive ButtonStyle="ButtonStyle.Light" ToggleButtonStyle="ButtonStyle.Primary" />
	</div>
    <br />
    
    <div id="booking-table">

    @if (!_missingCheckIns.Any())
    {
        <h2>Ingen manglende indtjekninger for i dag.</h2>
    }

    @if (_missingCheckIns.Any())
    {
        <RadzenTable GridLines=Radzen.DataGridGridLines.Horizontal AllowAlternatingRows=true>
            <RadzenTableHeader>
                <RadzenTableHeaderRow>
                    <RadzenTableHeaderCell>
                        Ressource
                    </RadzenTableHeaderCell>
                    <RadzenTableHeaderCell>
                        Pladsnr.
                    </RadzenTableHeaderCell>
                    <RadzenTableHeaderCell>
                        Kundenavn
                    </RadzenTableHeaderCell>
                    <RadzenTableHeaderCell>

                    </RadzenTableHeaderCell>
                </RadzenTableHeaderRow>
            </RadzenTableHeader>
            <RadzenTableBody>
                    @foreach (BookingMissingCheckInQueryDto booking in _missingCheckIns)
                    {
                        <RadzenTableRow>
                            <RadzenTableCell>
                                @($"Ressourcenavn")
                            </RadzenTableCell>
                            <RadzenTableCell>
                                @($"Pladsnr.")
                            </RadzenTableCell>
                            <RadzenTableCell>
                                @($"Kunde")
                            </RadzenTableCell>
                            <RadzenTableCell Style="text-align: end;">
                                <RadzenButton Text="Check-in" ButtonStyle="ButtonStyle.Success" />
                            </RadzenTableCell>
                        </RadzenTableRow>
                    }
            </RadzenTableBody>
        </RadzenTable>
    }
    </div>
</div>

@code {
    DateOnly currentDate = DateOnly.FromDateTime(DateTime.Now);
    bool checkInActive = true;
    bool checkOutActive = false;

    IEnumerable<BookingMissingCheckInQueryDto> _missingCheckIns = new List<BookingMissingCheckInQueryDto>();

    protected override async Task OnInitializedAsync()
    {
        var resultOfMissingCheckIns = await _checkInQuery.GetActiveBookingsWithMissingCheckInsAsync();

        if (resultOfMissingCheckIns.IsSucces())
        {
            _missingCheckIns = resultOfMissingCheckIns.GetSuccess().OriginalType;
        }
    }
}