#main-content {
    display: grid;
    grid-template-columns: auto 30%;
    grid-gap: 15px;
}

#resource-content {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin-inline: auto;
    margin-bottom: 10px;
    justify-items: center;
    width: 100%;
}

#preview-content {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    height: fit-content;
}

#add-button {
    padding-right: 20%;
    padding-bottom: 20px;
    padding-left: 70%;
}

#resource-preview {
    padding: 20px;
}

.padding-10px {
    padding: 10px;
}