@using Infrastructure.InternalApiCalls.UserAuthenticationApi
@inject IUserAuthenticationApi userAuthenticationApi
@page "/test"
@rendermode InteractiveServer
<h3>TestPage</h3>

<RadzenButton Click="@(()=>Test("mikkelschmidt@msn.com"))"></RadzenButton>

<p>Message: @message</p>

@code {
    // REMEMBER TO DELETE PROJECT REFERENCES
    // REMEMBER TO DELETE PAGE DIRECTION IN NAVMENU
    string message = "";

    private async Task Test(string email)
    {
        string response = await userAuthenticationApi.RegisterUserAsync(email);

        message = response;
    }
}

