@page "/"

<PageTitle>Foxtrox Bookingportal</PageTitle>

<h3 class="text-center">Velkommen til</h3>
<h1 class="text-center">Foxtrox Bookingportal</h1>

<div id="login-button">
	<a href="/register">
		<RadzenButton Text="Log ind" ButtonStyle="ButtonStyle.Primary" />
	</a>
</div>